/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";
#profile_show_all_photos_button {
    margin-bottom: 20px;
    background-color: plum;
    border: 0px;
}

.error-input {
    color: red;
}

.small-font{
    font-size: 60%;
}

.chat-view {
    height: 50vh;
    border-color: gray;
    padding: 2rem;
}

.margin-top{
    margin-top: 2ex;
}

//.sidebar {
//    position: fixed;
//    top: 0;
//    bottom: 0;
//    left: 0;
//    z-index: 100;
//    padding: 0;
//}