/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";


#profile_show_all_photos_button {
    margin-bottom: 20px;
    background-color: plum;
    border: 0px;
}

#profile_upload_new_photo_button {
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: plum;
    border: 0px;
}

#profile_add_tag_button {
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: plum;
    border: 0px;
}

#chat {
    width: 493px;
    height: 300px;
    border: 3px solid peru;
    margin-top: 30px;
    margin-left: 230px;
}

#chatInput {
    width: 493px;
    height: 100px;
    border: none;
    border-left: 2px solid peru;
    border-right: 2px solid peru;
    border-bottom: 2px solid peru;
    margin-left: 230px;
}

#chatText {
    width: 400px;
    height: 90px;
    border: none;
}

#chatSend {
    background-color: aquamarine;
    border: none;
    position: relative;
    margin-top: -30px;
}

#smile {
    color: lightcoral;
}

#cry {
    color: lightblue;
}

#face_icons {
    margin-top: 0px;
}

#left_arrow,
#right_arrow {
    margin-top: 20%;
}

#right_arrow {
    text-align: right;
}

#users {
    align-content: center;
    margin-top: 10px;
}

#user_name {
    font-family: serif;
    color: white;
    text-align: center;
    font-size: 150%;
    margin-bottom: 2px;
}

#user_card {
    background-color: DodgerBlue;
}

.user_info {
    color: white;
    margin-bottom: 2px;
}

#user_text {
    background-color: yellowgreen;
    color: white;
}

#center {
    align-content: center;
}

#image {
    max-height: 500px;
    background-size: contain;
    resize: both;
}

#card {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    resize: both;
}

#fileUpload {
    display: none;
}

.file_upload_width {
    width: 300px;
}

.photo-desc {
    width: 600px;
}

//profile
.form-short-input {
    font-size: 1.2rem;
    border-radius: 10rem;
    width: 600px;
}

.form-short-input-label {
    font-size: 1.2rem;
    text-align: center;
}

.profile-card {
    width: 40%;
    border-color: DodgerBlue;
    border-width: 2px;
    text-align: center;
    margin-right: 10px;
}

.profile-card-title {
    background-color: nav-user-name;
}

hr {
    border: solid 1px dodgerblue;
}

.align-right-button {
    float: right
}

.border_button {
    width: 15rem;
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}


.profile {
    margin-bottom: 20px;
}

.profile-item {
    margin-bottom: 40px;
}

.error-input {
    color: red;
}

.small-font {
    font-size: 60%;
}

.chat-view {
    height: 50vh;
    border-color: gray;
    padding: 2rem;
}

.margin-top {
    margin-top: 2ex;
}

//.sidebar {
//    position: fixed;
//    top: 0;
//    bottom: 0;
//    left: 0;
//    z-index: 100;
//    padding: 0;
//}
.community {
    height: 500px;
}

.long_word {
    word-wrap: break-word;
}

.title {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    padding: 20% 0%;
    font-size: 1.75rem;
    font-weight: bold;
}